version: "3"
services:
  lev-web:
    build: .
    ports:
      - "8001:8001"
    environment:
      NODE_ENV: test
      API_HOST: mock-api
      API_PORT: 8080
  mock-api:
    image: quay.io/ukhomeofficedigital/lev-api:0.18
    environment:
      MOCK: "true"
    ports:
      - "8080:8080"
