<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang=""><![endif]-->
<!--[if gt IE 8]><!--><html lang=""><!--<![endif]-->
  <head>
    <style id="details-polyfill_style-fix">
      /* make the default state for details child-elements not displayed when JS is enabled */
      body details > * { display: none; }
      body details > summary { display: inline-block; }
    </style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{{$pageTitle}}{{$title}}{{/title}} &ndash; GOV.UK{{/pageTitle}}</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="{{govukAssetPath}}stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="{{govukAssetPath}}stylesheets/govuk-template-ie6.css?0.12.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="{{govukAssetPath}}stylesheets/govuk-template-ie7.css?0.12.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="{{govukAssetPath}}stylesheets/govuk-template-ie8.css?0.12.0" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="{{govukAssetPath}}stylesheets/govuk-template-print.css?0.12.0" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["{{govukAssetPath}}stylesheets/fonts-ie8.css?0.12.0"]},
       c="{{govukAssetPath}}javascripts/vendor/goog/webfont-debug.js?0.12.0",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="{{govukAssetPath}}stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="{{govukAssetPath}}javascripts/ie.js?0.12.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{govukAssetPath}}images/favicon.ico?0.12.0" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{govukAssetPath}}images/apple-touch-icon-152x152.png?0.12.0">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{govukAssetPath}}images/apple-touch-icon-120x120.png?0.12.0">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{govukAssetPath}}images/apple-touch-icon-76x76.png?0.12.0">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="{{govukAssetPath}}images/apple-touch-icon-60x60.png?0.12.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{govukAssetPath}}images/opengraph-image.png?0.12.0">

    {{$head}}{{> partials-head}}{{/head}}
  </head>

  <body class="no-js {{$bodyClasses}}{{/bodyClasses}}">
    <script type="text/javascript">document.body.className = document.body.className.replace('no-js', 'js-enabled');</script>


    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>


    <header role="banner" id="global-header" class="{{$headerClass}}with-proposition{{/headerClass}}">
      <div class="header-wrapper">
        <div class="header-row">
          <div id="logo"></div>
          <div id="service-header">
            <div id="proposition-name"><a href="{{absBaseUrl}}">{{$journeyHeader}}{{/journeyHeader}}</a></div>
          </div>
          <ul id="nav">
            <li><a id="sign-out" href="/oauth/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!--end header-->


    {{$afterHeader}}{{/afterHeader}}

    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar"></div>
      </div>
    </div>
    <!--end global-header-bar-->

    {{$main}}
      <main id="content" class="main" role="main">
        <div class="grid-row">
          {{$maincontent}}{{/maincontent}}
          <div class="column-full">
            <p>Your feedback will help us improve this service. Email us <a href="mailto:ITnowServiceDesk@homeoffice.gov.uk?subject=LEV%20Feedback">ITnowServiceDesk@homeoffice.gov.uk</a></p>
          </div>
        </div>
      </main>
    {{/main}}

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{govukAssetPath}}javascripts/govuk-template.js?0.12.0" type="text/javascript"></script>
    <script src="/public/js/bundle.js" type="text/javascript"></script>

    {{$bodyEnd}}{{/bodyEnd}}
  </body>
</html>
