$path: "../img/";

@import "../../node_modules/hof/node_modules/hmpo-frontend-toolkit/assets/stylesheets/app.scss";

@import "./alert.scss";
@import "./icons.scss";
@import "./validation.scss";

.phase-banner {
  @include phase-banner(beta);
}

html {
  background-color: transparent;
}

/* ==================================================================
 * Header
 * ================================================================== */
#global-header, #global-header a {
  color: $white;
}

#global-header a:hover {
  text-decoration: none;
}

#global-header > .header-wrapper {
  text-align: center;
  position: relative;
}

#global-header #nav {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 15px;
  margin-right: 15px;
}

#global-header #logo {
  display: block;
  margin-left: 15px;
}

#global-header #logo:hover {
  border: none;
}

#global-header #proposition-name {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#global-header #proposition-name:hover {
  text-decoration: underline;
}

/* ==================================================================
 * /Header
 * ================================================================== */

h1 {
  font-size: 20px;
  margin: 15px 0 12px;
  .query {
    font-weight: normal;
  }
}

.button {
  margin-top: 15px;
}

.form-label-bold {
  font-size: 19px;
  font-weight: normal;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

//custom form styling
.form-control {
  padding: 0.5em;

  @include media(desktop) {
    width: 65%;
  }
}

.form-group {
  margin-bottom: 15px;
}

// GOVUK Elements `.form-date` overrides
.form-date {
    border-left: none;
    padding-left: 0;

    label {
        font-size: 19px;
    }

    .form-group {
        input {
            &[id$="-year"] {
                width: 70px;
            }
        }
    }
}

table {
  border-top: 1px solid $border-colour;;
  tbody {
    th, td {
      font-size: 16px;
      padding: 10px 0;
      vertical-align: top;
      line-height: 1;
    }
    th {
      width: 176px;
    }
    tr.group-item {
      th, td {
        border-bottom: none;
        padding: 5px 0;
      }
    }
    tr.first-group-item {
      th, td {
        padding-top: 10px;
      }
    }
    tr.last-group-item {
      th, td {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
      }
    }
  }
}

#records {
  li {
    margin: 0 0 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
    article {
      a {
        display: block;
        background-color: #eee;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
        padding: 10px;
        h2 {
          margin-bottom: 6px;
          margin-top: 0;
          text-decoration: underline;
          font-size: 16px;
        }
        table {
          border-top: none;
          th, td {
            border-bottom: none;
            padding: 5px 0;
            &:last-of-type {
              padding-bottom: 0;
            }
          }
          th {
            width: 115px;
          }
        }
        &:hover {
          padding: 7px 6px;
          background-color: #e6f0f9;
          border: 4px solid #005ea5;
          table {
            th, td {
              color: #005ea5;
            }
          }
        }
      }
    }
  }
}

div.search-buttons {
  margin: 20px 0;
  .button {
    margin: 0 65px 0 0;
    font-size: 16px;
  }
}

/* Flags */
.flag {
  display: block;
  background-color: #eee;
  border-left: 10px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}

.alert {
  background-color: #fcc;
  border-left: 10px solid #c00;
  color: #c00;
}

#records .flag {
  display: block;
  background-color: transparent;
  border-left: none;
  padding: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.blue.button {
  @include button ($link-colour);
  padding: em(10) em(15) em(5) em(15);
}

// FIXME: Remove once hmpo-frontend-toolkit has up-to-date
// govuk-elements-sass
//
// Panels
// ==========================================================================

.panel {
  @extend %contain-floats;
  clear: both;
  border-left-style: solid;
  border-color: $border-colour;

  padding: em(15, 19);
  margin-bottom: em(15, 19);

  :first-child {
    margin-top: 0;
  }

  :only-child,
  :last-child {
    margin-bottom: 0;
  }
}

.panel-border-wide {
  border-left-width: 10px;
}

// Used to show the left edge of "toggled" content
.panel-border-narrow {
  border-left-width: 5px;
}

// Panels within form groups
// Remove the bottom padding as .form-group sets a bottom margin
.form-group .panel-border-narrow {
  padding-bottom: 0;
}

// /Panels
// ==========================================================================
