$path: "../img/";

@import "../../node_modules/hmpo-frontend-toolkit/assets/stylesheets/app.scss";

@import "./alert.scss";
@import "./icons.scss";
@import "./validation.scss";

.phase-banner {
  @include phase-banner(beta);
}

h1 {
  @include bold-24;
  .query {
    font-weight: normal;
  }
}

.button {
  margin-top: 15px;
}

.form-label-bold {
  @include core-19;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

//custom form styling
.form-control {
  padding: 0.5em;

  @include media(desktop) {
    width: 65%;
  }
}

.form-group {
  margin-bottom: 15px;
}

// GOVUK Elements `.form-date` overrides
.form-date {
    border-left: none;
    padding-left: 0;

    label {
        @include core-19();
    }

    .form-group {
        input {
            &[id$="-year"] {
                width: 70px;
            }
        }
    }
}

table {
  border-top: 1px solid $border-colour;;
  tbody {
    tr.no-separation {
      th, td {
        border-bottom: none;
      }
    }
    th, td {
      font-size: 20px;
      padding: 20px 0 16px 0;
    }
    th {
      width: 45%;
    }
  }
}

article {
  margin: 30px 0;
  a {
    display: block;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    padding: 17px;
    h2 {
      margin-bottom: 0;
      margin-top: 0;
      text-decoration: underline;
    }
    table {
      border-top: none;
      th, td {
        border-bottom: none;
      }
      th {
        width: 25%;
      }
    }
    &:hover {
      padding: 14px 13px;
      background-color: #e6f0f9;
      border: 4px solid #005ea5;
      table {
        th, td {
          color: #005ea5;
        }
      }
    }
  }
}

