$path: '../img/';

@import '../../node_modules/hof/node_modules/hmpo-frontend-toolkit/assets/stylesheets/app';

@import './icons';
@import './validation';
@import './header';
@import './results';
@import './details';
@import './user-activity';

$form-spacing: 15px;
$menu-border-colour: #ccc;
$cursor-bg-colour: #0097cf;
$control-border-colour: #6f777b;

.phase-banner {
  @include phase-banner(beta);
}

html {
  background-color: transparent;
}

body {
  @include core-19;
}

.heading-large,
h1 {
  font-size: 19px;
  margin-top: 10px;

  @include media(desktop) {
    font-size: 32px;
    margin-top: 20px;
  }
}

.form-label-bold {
  /* Note: Elements does not use bold labels */
  @include bold-19;
  padding-bottom: 3px;
}

//autocomplete styling
.tt-menu {
  background-color: $white;
  border: 1px solid $menu-border-colour;
  width: 65%;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: $white;
    background-color: $cursor-bg-colour;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

//custom form styling
.form-control {
  padding: 0.5em;
  border: 2px solid $control-border-colour; // hopefully this will be surplanted by updated FEKT

  @include media(desktop) {
    width: 65%;
  }
}

.form-group {
  margin-top: $form-spacing;
}
#system-number-group {
  &.form-group {
    margin-bottom: 10px;
  }
}

// GOVUK Elements `.form-date` overrides
.form-date {
    border-left: none;
    padding-left: 0;

    label {
        @include core-19();
    }

    .form-group {
        input {
            &[id$=-year] {
                width: em(70);
            }
        }
    }
}

.button {
  margin: em(15) em(15) em(15) 0;

  &.blue {
    @include button ($link-colour);
    padding: em(10) em(15) em(5) em(15);
  }

  &.grey {
    @include button (#52585A);
    padding: em(10) em(15) em(5) em(15);
  }
}

.buttons {
  .button {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

#content {
  padding-bottom: 50px;
}

// ==========================================================================
// GovUK Elements
// ==============
//
// FIXME: Remove once hmpo-frontend-toolkit has up-to-date
// govuk-elements-sass
// ==========================================================================

//
// Panels
// ==========================================================================

.panel {
  @extend %contain-floats;
  clear: both;
  border-left-style: solid;
  border-color: $border-colour;

  padding: em(15, 19);
  margin-bottom: em(15, 19);

  :first-child {
    margin-top: 0;
  }

  :only-child,
  :last-child {
    margin-bottom: 0;
  }
}

.panel-border-wide {
  border-left-width: 10px;
}

// Used to show the left edge of "toggled" content
.panel-border-narrow {
  border-left-width: 5px;
}

// Panels within form groups
// Remove the bottom padding as .form-group sets a bottom margin
.form-group {
  .panel-border-narrow {
    padding-bottom: 0;
  }
}

// fix <details> child elements showing when page is slow to load
body {
  &.no-js {
    details > {
      // sass-lint:disable-block single-line-per-selector
      address, article, aside, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, li, main, nav, noscript, ol, output, p, pre, section, table, tfoot, ul, video {
        display: block;
      }
      b, big, i, small, tt, abbr, acronym, cite, code, dfn, em, kbd, strong, samp, time, var, a, bdo, br, img, map, object, q, script, span, sub, sup, button, input, label, select, textarea {
        display: inline;
      }
      table {
        display: table;
      }
      ruby {
        display: ruby;
      }
    }
  }
}

details {
  margin-bottom: $form-spacing;
}

.form-hint {
  color: $black;
}
