#records {
  border-bottom: 2px solid $border-colour;

  li {
    margin: 0 0 15px;

    article {
      a {
        display: block;
        border-top: 2px solid $border-colour;
        text-decoration: none;
        padding: 10px;
        color: $black;

        h2 {
          @include bold-19;
          margin-bottom: 0.4em;
          margin-top: 0;
          text-decoration: underline;
          color: #005ea5;
        }

        table {
          border-top: none;
          border-bottom: none;

          th, td {
            border-bottom: none;
            padding: 0.3em 0;

            &:last-of-type {
              padding-bottom: 0;
            }
            @include core-19;
          }

          th {
            width: 7.2em;
          }
          td {
            font-weight: bold;
          }
        }

        .flag {
          display: block;
          background-color: transparent;
          border-left: none;
          padding: 0;
          margin-bottom: 0;
          font-weight: bold;
          margin-top: 0.4em;
        }

        &:hover {
          background-color: #f2f7fa;
          border-color: #2d7ab4;
          table {
            th, td {
              color: #005ea5;
            }
          }
        }
      }
    }
  }
}

