body {
  &.audit {
    #content {
      max-width: 100%;
      margin: 0;
    }

    .grid-row {
      margin: 0 10px;
    }

    .column-full {
      padding: 0;
    }

    .form-group {
      display: inline-block;
      margin-right: 10px;
      width: 20em;
    }

    .form-control {
      width: 100%;
    }

    #controls {
      display: inline-block;
    }

    h2 {
      font-size: 19px;
    }
  }
}

.audit {
  th,
  td {
    padding: 5px 3px;

    :first-child {
      white-space: nowrap;
    }
  }

  td {
    text-align: right;
  }

  .weekend {
    background-color: $highlight-colour;
    display: none;

    + .weekend {
      + * {
        border-left: 3px solid $border-colour;
      }
    }
  }
}

[name='weekends'] {
  &:checked {
    + .audit {
      .weekend {
        display: table-cell;
      }
    }
  }
}
