{{<layout}}

{{$title}}Death record check{{/title}}

{{$journeyHeader}}
  Death record check
{{/journeyHeader}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{record.deceased.forenames}} {{record.deceased.surname}} {{record.deceased.dateOfBirth}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$maincontent}}
  {{> partials-maincontent}}
{{/maincontent}}

{{$content}}
  {{#record.status.refer}}
    <div class="flag alert">{{#t}}flags.refer{{/t}}</div>
  {{/record.status.refer}}
  {{#record.status.corrected}}
    <div class="flag warning">{{#t}}flags.corrected{{/t}}</div>
  {{/record.status.corrected}}

  {{#record.previousRegistration.systemNumber}}
    <div class="flag">{{#t}}flags.reRegistrationLabel{{/t}}
      <a href="/death/details/{{record.previousRegistration.systemNumber}}?{{querystring}}" class="button">{{#t}}flags.reRegistrationLink{{/t}}</a>
    </div>
  {{/record.previousRegistration.systemNumber}}
  {{#record.nextRegistration.systemNumber}}
    <div class="flag warning">
      {{#t}}flags.replaced{{/t}}
      <a href="/death/details/{{record.nextRegistration.systemNumber}}?{{querystring}}" class="button">{{#t}}flags.reRegisteredLink{{/t}}</a>
    </div>
  {{/record.nextRegistration.systemNumber}}
  <table class="details">
    <tbody>
      <tr>
        <th>System number</th>
        <td>{{record.id}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Deceased</th>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Name</th>
        <td>
          {{record.deceased.forenames}} {{record.deceased.surname}}
          {{#record.deceased.aliases}}
            {{#type}}
              <br />
              {{type}} {{prefix}} {{forenames}} {{surname}} {{suffix}}
            {{/type}}
          {{/record.deceased.aliases}}
        </td>
      </tr>
      {{#showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Maiden name</th>
        <td>{{record.deceased.maidenSurname}}</td>
      </tr>
      {{/showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Date of birth</th>
        <td>{{record.deceased.dateOfBirth}}</td>
      </tr>
      {{#showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Place of birth</th>
        <td>{{record.deceased.birthplace}}</td>
      </tr>
      {{/showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Sex</th>
        <td>{{record.deceased.sex}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Address</th>
        <td>{{record.deceased.address}}</td>
      </tr>
      {{#showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Occupation</th>
        <td>
          {{#record.deceased.occupation}}
            {{record.deceased.occupation}}
            {{#record.deceased.retired}}
              (retired)
            {{/record.deceased.retired}}
          {{/record.deceased.occupation}}
          {{^record.deceased.occupation}}
            {{#record.partner.occupation}}
                <br />{{record.deceased.relationshipToPartner}} {{record.partner.name}}, {{record.partner.occupation}}
                {{#record.partner.retired}}
                (retired)
                {{/record.partner.retired}}
            {{/record.partner.occupation}}
            {{^record.partner.occupation}}
                {{#record.father.occupation}}
                    <br />Child of {{record.father.name}}, {{record.father.occupation}}
                {{/record.father.occupation}}
                {{#record.mother.occupation}}
                    <br />Child of {{record.mother.name}}, {{record.mother.occupation}}
                {{/record.mother.occupation}}
            {{/record.partner.occupation}}
          {{/record.deceased.occupation}}
        </td>
      </tr>
      {{/showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Date of death</th>
        <td>{{record.deceased.dateOfDeathQualifier}} {{record.deceased.dateOfDeath}}</td>
      </tr>
      {{#showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Place of death</th>
        <td>{{record.deceased.deathplace}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Age at death</th>
        <td>{{record.deceased.ageAtDeath}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Cause of death</th>
        <td>{{record.deceased.causeOfDeath}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Deceased's </span>Death certified by</th>
        <td>{{record.deceased.certifiedBy}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Informant</th>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Informant's </span>Surname</th>
        <td>{{record.informant.surname}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Informant's </span>Forename(s)</th>
        <td>{{record.informant.forenames}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Informant's </span>Address</th>
        <td>{{record.informant.address}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Informant's </span>Qualification</th>
        <td>{{record.informant.qualification}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Informant's </span>Signature</th>
        <td>{{record.informant.signature}}</td>
      </tr>
      {{#record.inquestDate}}
        <tr class="section-head">
            <th colspan="2">Inquest</th>
        </tr>
        <tr>
            <th><span class="visuallyhidden" aria-hidden="true">Inquest </span>Date</th>
            <td>{{record.inquestDate}}</td>
        </tr>
        <tr>
            <th>Coroner's name</th>
            <td>{{record.coroner.name}}</td>
        </tr>
        <tr>
            <th>Coroner's designation</th>
            <td>{{record.coroner.designation}}</td>
        </tr>
        <tr>
            <th><span class="visuallyhidden" aria-hidden="true">Coroner's </span>Area</th>
            <td>{{record.coroner.area}}</td>
        </tr>
      {{/record.inquestDate}}
      {{/showAll}}
      <tr class="section-head">
        <th colspan="2">Registration</th>
      </tr>
      {{#showAll}}
      <tr>
        <th>Registrar signature</th>
        <td>{{record.registrar.signature}}</td>
      </tr>
      <tr>
        <th>Registrar designation</th>
        <td>{{record.registrar.designation}}</td>
      </tr>
      {{/showAll}}
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>Sub-district</th>
        <td>{{record.registrar.subdistrict}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>District</th>
        <td>{{record.registrar.district}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>Administrative area</th>
        <td>{{record.registrar.administrativeArea}}</td>
      </tr>
      <tr>
        <th>Date of registration</th>
        <td>{{record.date}}</td>
      </tr>
      {{#showAll}}
      <tr>
        <th>Entry number</th>
        <td>{{record.entryNumber}}</td>
      </tr>
      {{/showAll}}
    </tbody>
  </table>
  <div class="buttons">
    <a id="newSearchLink" href="/death" class="button">New search</a>
    <a id="editSearchLink" href="/death?edit&amp;{{querystring}}" class="blue button">Edit search</a>
    {{#canRedirectToResults}}
      <a id="backToSearchResults" href="/death?{{querystring}}" class="grey button">Back to results</a>
    {{/canRedirectToResults}}
  </div>
{{/content}}

{{/layout}}
