{{<layout}}

{{$title}}Birth record check{{/title}}

{{$journeyHeader}}
  Birth record check
{{/journeyHeader}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{record.forenames}} {{record.surname}} {{record.dob}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$maincontent}}
  {{> partials-maincontent}}
{{/maincontent}}

{{$content}}
  {{#record.status.refer}}
    <div class="flag alert">{{#t}}flags.refer{{/t}}</div>
  {{/record.status.refer}}
  {{#record.status.fatherAdded}}
    <div class="flag warning">{{#t}}flags.fatherAdded{{/t}}</div>
  {{/record.status.fatherAdded}}
  {{#record.status.subsequentlyMarried}}
    <div class="flag warning">{{#t}}flags.subsequentlyMarried{{/t}}</div>
  {{/record.status.subsequentlyMarried}}
  {{#record.status.fatherModified}}
    <div class="flag warning">{{#t}}flags.fatherModified{{/t}}</div>
  {{/record.status.fatherModified}}
  {{#record.status.replaced}}
    <div class="flag warning">{{#t}}flags.replaced{{/t}}</div>
  {{/record.status.replaced}}
  {{#record.status.corrected}}
    <div class="flag warning">{{#t}}flags.corrected{{/t}}</div>
  {{/record.status.corrected}}
  {{#record.status.courtOrderInPlace}}
    <div class="flag alert">{{#t}}flags.courtOrderInPlace{{/t}}</div>
  {{/record.status.courtOrderInPlace}}
  {{#record.status.courtOrderRevoked}}
    <div class="flag">{{#t}}flags.courtOrderRevoked{{/t}}</div>
  {{/record.status.courtOrderRevoked}}

  {{#record.previousRegistration.systemNumber}}
    <div class="flag">{{#t}}flags.reRegistrationLabel{{/t}}
      <a href="/details/{{record.previousRegistration.systemNumber}}?{{querystring}}" class="button">{{#t}}flags.reRegistrationLink{{/t}}</a>
    </div>
  {{/record.previousRegistration.systemNumber}}
  <table class="details">
    <tbody>
      <tr>
        <th>System number</th>
        <td>{{record.system-number}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Child</th>
      </tr>
      <tr>
        <th>Surname</th>
        <td>{{record.surname}}</td>
      </tr>
      <tr>
        <th>Forename(s)</th>
        <td>{{record.forenames}}</td>
      </tr>
      <tr>
        <th>Date of birth</th>
        <td>{{record.dob}}</td>
      </tr>
      <tr>
        <th>Sex</th>
        <td>{{record.gender}}</td>
      </tr>
      <tr>
        <th>Place of birth</th>
        <td>{{record.birth-place}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Mother</th>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Mother's </span>Name</th>
        <td>{{record.mother.name}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Mother's </span>Maiden name</th>
        <td>{{record.mother.nee}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Mother's </span>Previous marriage name</th>
        <td>{{record.mother.marriageSurname}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Mother's </span>Place of birth</th>
        <td>{{record.mother.birth-place}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Father</th>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Father's </span>Name</th>
        <td>{{record.father.name}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Father's </span>Place of birth</th>
        <td>{{record.father.birth-place}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Registration</th>
      </tr>
      <tr>
        <th>Birth registered by</th>
        <td>{{record.registered.by}}</td>
      </tr>
      <tr>
        <th>Registration district</th>
        <td>{{record.registered.district}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>Sub-district</th>
        <td>{{record.registered.sub-district}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>Administrative area</th>
        <td>{{record.registered.admin-area}}</td>
      </tr>
      <tr>
        <th>Date of registration</th>
        <td>{{record.registered.date}}</td>
      </tr>
    </tbody>
  </table>
  <div class="buttons">
    <a id="newSearchLink" href="/" class="button">New search</a>
    <a id="editSearchLink" href="/?edit&amp;{{querystring}}" class="blue button">Edit search</a>
    {{#canRedirectToResults}}
      <a id="backToSearchResults" href="/?{{querystring}}" class="grey button">Back to results</a>
    {{/canRedirectToResults}}
  </div>
{{/content}}

{{/layout}}
