{{<layout}}

{{$title}}Birth record check{{/title}}

{{$journeyHeader}}
  Birth record check
{{/journeyHeader}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      Record of <span class="record">{{record.forenames}} {{record.surname}} {{record.dob}}</span>
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$content}}

  <table>
    <tbody>
      <tr>
        <th>System Number</th>
        <td>{{record.system-number}}</td>
      </tr>
      <tr>
        <th>Surname</th>
        <td>{{record.surname}}</td>
      </tr>
      <tr>
        <th>Forename(s)</th>
        <td>{{record.forenames}}</td>
      </tr>
      <tr>
        <th>Date of birth</th>
        <td>{{record.dob}}</td>
      </tr>
      <tr>
        <th>Sex</th>
        <td>{{record.gender}}</td>
      </tr>
      <tr>
        <th>Place of birth</th>
        <td>{{record.birth-place}}</td>
      </tr>
      <tr class="no-separation">
        <th>Father</th>
        <td>{{record.father.name}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Fathers </span>Occupation</th>
        <td>{{record.father.occupation}}</td>
      </tr>
      <tr class="no-separation">
        <th>Mother</th>
        <td>{{record.mother.name}}</td>
      </tr>
      <tr class="no-separation">
        <th><span class="visuallyhidden" aria-hidden="true">Mothers </span>Maiden name</th>
        <td>{{record.mother.nee}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Mothers </span>Occupation</th>
        <td>{{record.mother.occupation}}</td>
      </tr>
      <tr>
        <th>Birth jointly registered</th>
        <td>{{record.registered.jointly}}</td>
      </tr>
      <tr class="no-separation">
        <th>Registration district</th>
        <td>{{record.registered.district}}</td>
      </tr>
      <tr class="no-separation">
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>Sub-district</th>
        <td>{{record.registered.sub-district}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>Administrative area</th>
        <td>{{record.registered.admin-area}}</td>
      </tr>
    </tbody>
  </table>

  {{>partials-buttons}}

{{/content}}

{{/layout}}
