{{<layout}}

{{$title}}Marriage record check{{/title}}

{{$journeyHeader}}
  Marriage record check
{{/journeyHeader}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      {{record.bride.forenames}} {{record.bride.surname}} &amp; {{record.groom.forenames}} {{record.groom.surname}}
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$maincontent}}
  {{> partials-maincontent}}
{{/maincontent}}

{{$content}}
  <table class="details">
    <tbody>
      <tr>
        <th>System number</th>
        <td>{{record.id}}</td>
      </tr>
      <tr>
        <th>Date of marriage</th>
        <td>{{record.dateOfMarriage}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Bride</th>
      </tr>
      <tr>
        <th>Surname</th>
        <td>{{record.bride.surname}}</td>
      </tr>
      <tr>
        <th>Forename(s)</th>
        <td>{{record.bride.forenames}}</td>
      </tr>
      <tr>
        <th>Sex</th>
        <td>{{record.bride.sex}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Groom</th>
      </tr>
      <tr>
        <th>Surname</th>
        <td>{{record.groom.surname}}</td>
      </tr>
      <tr>
        <th>Forename(s)</th>
        <td>{{record.groom.forenames}}</td>
      </tr>
      <tr>
        <th>Sex</th>
        <td>{{record.groom.sex}}</td>
      </tr>
      <tr class="section-head">
        <th colspan="2">Registration</th>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>District</th>
        <td>{{record.registrar.district}}</td>
      </tr>
      <tr>
        <th><span class="visuallyhidden" aria-hidden="true">Registration </span>Administrative area</th>
        <td>{{record.registrar.adminstrativeArea}}</td>
      </tr>
      <tr>
        <th>Date of registration</th>
        <td>{{record.date}}</td>
      </tr>
    </tbody>
  </table>
  <div class="buttons">
    <a id="newSearchLink" href="/marriage" class="button">New search</a>
    <a id="editSearchLink" href="/marriage?edit&amp;{{querystring}}" class="blue button">Edit search</a>
    {{#canRedirectToResults}}
      <a id="backToSearchResults" href="/marriage?{{querystring}}" class="grey button">Back to results</a>
    {{/canRedirectToResults}}
  </div>
{{/content}}

{{/layout}}
