{{<layout}}

{{$title}}Birth record check{{/title}}

{{$journeyHeader}}
  Birth record check
{{/journeyHeader}}

{{$propositionHeader}}
  {{> partials-navigation}}
{{/propositionHeader}}

{{$header}}
  {{<partials-page-header}}
    {{$page-header}}
      Applicant's details
    {{/page-header}}
  {{/partials-page-header}}
{{/header}}

{{$validationSummary}}
  {{> partials-validation-summary}}
{{/validationSummary}}

{{$maincontent}}
  {{> partials-maincontent-left}}
{{/maincontent}}

{{$content}}
  {{<partials-form}}
    {{$form}}
      {{#input-text}}system-number{{/input-text}}
      {{#input-text}}surname{{/input-text}}
      {{#input-text}}forenames{{/input-text}}
      {{#input-text}}dob{{/input-text}}
      {{#input-submit}}search{{/input-submit}}
    {{/form}}
  {{/partials-form}}
{{/content}}

{{/layout}}
