{{<layout}}

{{$title}}User Activity report{{/title}}

{{$journeyHeader}}
User Activity report
{{/journeyHeader}}

{{$header}}
{{<partials-page-header}}
{{$page-header}}
Audit information
{{/page-header}}
{{/partials-page-header}}
{{/header}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$maincontent}}
{{> partials-maincontent}}
{{/maincontent}}

{{$content}}

{{<partials-form}}
{{$form}}
<div id="controls">
  {{#input-text}}from{{/input-text}}
  {{#input-text}}to{{/input-text}}
</div>
<div class="buttons">
  {{#input-submit}}search{{/input-submit}}
</div>
{{/form}}
{{/partials-form}}

{{#audit}}
{{> partials-audit-report}}
{{/audit}}
{{#naudit}}
<h2>No usage data found between {{from}} and {{to}}</h2>
{{/naudit}}

{{/content}}

{{/layout}}
